<link rel="stylesheet" href="./grid-sortable.css">

<script>
    (function () {
        var
            dom = window.dom;

        createComponent({
            tag: 'grid-sortable',
            setGrid: function (grid) {
                this.grid = grid;
                this.grid.classList.add('sortable');
                this.grid.addEventListener('header-click', this.onHeaderClick.bind(this));
            },

            setSort: function(nodeOrField, dir){
                console.log(' * set sort');
                var
                    field,
                    node,
                    sortEvent = {};

                if(typeof nodeOrField === 'string'){
                    field = nodeOrField;
                    node = this.getNodeByField(nodeOrField);
                }else{
                    node = nodeOrField;
                    field = node.getAttribute('data-field');
                }
                if(this.currentCell && this.currentDir){
                    dom.classList.remove(this.currentCell, this.currentDir);
                }

                this.currentDir = dir || '';
                this.currentCell = node;
                this.currentField = field;
                this.grid.onNextRender(function(){
                    console.log('NEXT RENDER');
                    this.currentCell = this.getNodeByField(dom.attr(this.currentCell, 'data-field'));
                    dom.classList.add(this.currentCell, this.currentDir);
                }.bind(this));

                sortEvent = {
                    dir: this.currentDir,
                    sort: this.currentDir ? field : ''
                };
                this.grid.fire('sort', sortEvent);
            },

            onHeaderClick: function(event){
                var
                    sort = 'desc',
                    field = event.detail.field,
                    target = event.detail.cell;
                if(!target){
                    return;
                }
                if(field === this.currentField){
                    if(this.currentDir === 'desc'){
                        sort = 'asc';
                    }
                    else if(this.currentDir === 'asc'){
                        sort = '';
                    }
                    else{
                        sort = 'desc';
                    }
                }
                this.setSort(target, sort);
            },

            getNodeByField: function(field){
                this.cells = this.getHeaderCells();
                return this.cells.map[field];
            },

            getHeaderCells: function(){
                this.cells = [];
                this.cells.map = {};
                var
                    i,
                    field,
                    cells = this.grid.thead.getElementsByTagName('TH');
                for(i = 0; i < cells.length; i++){
                    field = cells[i].getAttribute('data-field');
                    if(field){
                        this.cells.push(cells[i]);
                        this.cells.map[field] = cells[i];
                    }
                }
                return this.cells;
            }
        });
    }());

</script>
