<link rel="stylesheet" href="./grid-base.css">

<polymer-element name="grid-base">

    <template>
        <table id="table">
            <thead id="thead">
            </thead>
            <tbody id="tbody">
            </tbody>
        </table>
        <content id="groupNodes">

        </content>
    </template>

    <script>
        (function () {
            var dom = window.dom;

            Polymer({
                publish:{
                    dataPropertyName:{
                        value: '',
                        reflect: true
                    }
                },

                attached: function () {
                    var i, contentNodes = this.$.groupNodes.getDistributedNodes();

                    if(contentNodes.length) {
                        for(i = 0; i < contentNodes.length; i++){
                            if(contentNodes[i].nodeType === 1 && contentNodes[i].setGrid){
                                contentNodes[i].setGrid(this);
                            }
                        }
                    }
                },

                resize: function (box) {
                    this.fire('render', {table: this.$.table, thead: this.$.thead, tbody: this.$.tbody});
                },

                renderHeader: function(columns){
                    dom.clean(this.$.thead, true);
                    var
                        thead = this.$.thead,
                        tr = dom('tr', {}, thead);

                    columns.forEach(function(col){
                        dom('th', {html: '<span>'+col+'</span>', attr:{'data-field': col}}, tr);
                    });
                    this.fire('render-header', {thead: thead});
                },

                renderBody: function(items){
                    var tbody = this.$.tbody;

                    dom.clean(tbody, true);

                    items.forEach(function(item, i){
                        var tr = dom('tr', {attr:{'data-index': i}}, tbody);
                        Object.keys(item).forEach(function(key){
                                ;     dom('td', {html: item[key], attr:{'data-field': key, tabIndex: 1}}, tr)
                        });
                    });
                    this.fire('render-body', {tbody: tbody});

                },

                render: function (items, columns) {
                    this.fire('pre-render');

                    this.items = items;

                    if(columns !== false) {
                        columns = columns || Object.keys(this.items[0]);
                        this.renderHeader(columns);
                    }
                    this.renderBody(items);

                    this.fire('render', {table: this.$.table, thead: this.$.thead, tbody: this.$.tbody});

                    if(this.nextrendercallbacks){
                        this.nextrendercallbacks.forEach(function (cb) {
                            cb();
                        });
                        this.nextrendercallbacks = null;
                    }
                },

                onNextRender: function(callback){
                    console.log(' * onNextRender');
                    this.nextrendercallbacks = this.nextrendercallbacks || [];
                    this.nextrendercallbacks.push(callback);
                },

                attributeChanged: function (attrName, oldVal, newVal) {
                    console.log('attributeChanged', attrName, oldVal, newVal);
                }
            });
        }());

    </script>
</polymer-element>