grid-base.sortable table thead th{
    cursor: pointer;
}
grid-base.sortable table thead th span{
    display: inline-block;
    margin-right: 12px;
}
grid-base.sortable table th:hover{
    background: #DCEAEF;
}