grid-base{
    display: block;
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 2px solid #666;
}
grid-base table{
    border-collapse: collapse;
    display: block;
    height: calc(100% - 47px);
}
grid-base table th{
    background: #eee;
    color: #333;
}
grid-base table th,
grid-base table td{
    border: 1px solid #ccc;
    padding: 5px;
}

grid-base table tbody tr:nth-child(even){
    background: #F2F5F9;
}
