<link rel="stylesheet" href="./grid-scrollable.css">

<script>
    (function () {
        var
            hasShift = false,
            currentDetail,
            on = window.on,
            dom = window.dom;


        createComponent({
            tag: 'grid-scrollable',
            setGrid: function (grid) {
                this.grid = grid;
                this.grid.classList.add('scrollable');
                on(this.grid, 'render', this.onRender.bind(this));
                on(this.grid, 'resize', this.onRender.bind(this));
                on(this.grid, 'pre-render', this.onPreRender.bind(this));
            },

            onPreRender: function () {
                if(this.grid.table){
                    this.scrollPos = this.grid.table.scrollLeft;
                }
            },

            handleScroll: function(event){
                var
                    amt;
                this.currentDetail.thead.scrollLeft = event.target.scrollLeft;
                if(this.currentDetail.thead.scrollLeft !== event.target.scrollLeft) {
                    amt = Math.ceil(this.currentDetail.thead.scrollLeft - event.target.scrollLeft);
                    this.currentDetail.thead.style.left = amt + 1 + 'px';
                    this.hasShift = true;
                }
                else if(this.hasShift){
                    this.currentDetail.thead.style.left = '';
                    this.hasShift = false;
                }
            },

            onRender: function (event) {

                window.table = event.detail.table;
                window.thead = event.detail.thead;
                window.tbody = event.detail.tbody;

                this.sizeColumns(event.detail.table);
                this.connectScroll(event.detail);

                if(this.scrollPos){
                    var sp = this.scrollPos;
                    window.requestAnimationFrame(function () {
                        event.detail.table.scrollLeft = sp;
                    });
                    this.scrollPos = 0;
                }
            },

            connectScroll: function (detail) {
                detail.table.style.paddingTop = detail.thead.getBoundingClientRect().height - 1 + 'px';
                this.currentDetail = detail;

                if(this.scrollHandle){
                    this.scrollHandle.remove();
                }
                this.scrollHandle = on(detail.table, 'scroll', this.handleScroll.bind(this));
            },

            sizeColumns: function(table){
                var
                    i, minWidth, thw, tdw,
                    head = table.querySelector('thead'),
                    ths = head.querySelectorAll('th'),
                    colPercent = (100 / ths.length) + '%',
                    body = table.querySelector('tbody'),
                    firstTR = body.querySelector('tr'),
                    tds;

                if(!firstTR){
                    return;
                }

                console.log('SIZE COLUMNS');

                tds = firstTR.querySelectorAll('td');

                // reset
                //
                // set containers to absolute and an arbitrary, small width
                // to force cells to squeeze together so we can measure their
                // natural widths
                dom.style(head, {
                    position:'absolute',
                    width:100
                });
                dom.style(body, {
                    position:'absolute',
                    width:100
                });

                // reset head THs
                for(i = 0; i < ths.length; i++){
                    dom.style(ths[i], {width:'', minWidth:''});
                    // TDs shouldn't have a width yet,
                    // unless this is a resize
                    dom.style(tds[i], {width:'', minWidth:''});
                }

                // wait for DOM to render before getting sizes
                window.requestAnimationFrame(function(){
                    // after the next
                    for(i = 0; i < ths.length; i++){
                        if(ths[i].className !== 'dummy'){
                            thw = dom.box(ths[i]).width;
                            tdw = dom.box(tds[i]).width;
                            minWidth = Math.max(thw, tdw);
                            dom.style(ths[i], {width:colPercent, minWidth:minWidth});
                            dom.style(tds[i], {width:colPercent, minWidth:minWidth});
                        }
                    }
                    // remove temp body styles
                    dom.style(head, {
                        position:'',
                        width:''
                    });
                    dom.style(body, {
                        position:'',
                        width:''
                    });
                });

            }
        });
    }());
</script>
