<link rel="stylesheet" href="./grid-base.css">

<template id="grid-base-template">
    <table data-attach="table">
        <thead data-attach="thead"></thead>
        <tbody data-attach="tbody"></tbody>
    </table>
    <content></content>
</template>

<script>
    (function () {
        var dom = window.dom;

        createComponent({
            nodeName: 'grid-base',
            templateId: 'grid-base-template',
            render: function (items, columns) {
                this.fire('pre-render');

                this.items = items;

                if(columns !== false) {
                    columns = columns || Object.keys(this.items[0]);
                    this.renderHeader(columns);
                }
                this.renderBody(items);

                this.fire('render', {table: this.table, thead: this.thead, tbody: this.tbody});

                console.log('grid-render');
                if(this.nextrendercallbacks){
                    console.log('next callbacks...');
                    this.nextrendercallbacks.forEach(function (cb) {
                        cb();
                    });
                    this.nextrendercallbacks = null;
                }
            },

            resize: function (box) {
                this.fire('render', {table: this.table, thead: this.thead, tbody: this.tbody});
            },

            renderHeader: function(columns){
                dom.clean(this.thead, true);
                var
                    thead = this.thead,
                    tr = dom('tr', {}, thead);

                columns.forEach(function(col){
                    dom('th', {html: '<span>'+col+'</span>', attr:{'data-field': col}}, tr);
                });
                this.fire('render-header', {thead: thead});
            },

            renderBody: function(items){
                var tbody = this.tbody;

                dom.clean(tbody, true);

                items.forEach(function(item, i){
                    var tr = dom('tr', {attr:{'data-index': i}}, tbody);
                    Object.keys(item).forEach(function(key){
                        dom('td', {html: item[key], attr:{'data-field': key, tabIndex: 1}}, tr)
                    });
                });
                this.fire('render-body', {tbody: tbody});

            },

            onNextRender: function(callback){
                console.log(' * onNextRender');
                this.nextrendercallbacks = this.nextrendercallbacks || [];
                this.nextrendercallbacks.push(callback);
            },
            domReady: function () {
                var i, contentNodes = this.getContentNodes();
                if(contentNodes.length) {
                    for(i = 0; i < contentNodes.length; i++){
                        if(contentNodes[i].nodeType === 1 && contentNodes[i].setGrid){
                            contentNodes[i].setGrid(this);
                        }else{
                            console.log(' --- no setGrid', contentNodes[i].nodeType , contentNodes[i]);
                        }
                    }
                }
            }
        });
    }());

</script>
