grid-base.sortable::shadow table thead th{
    cursor: pointer;
}
grid-base.sortable::shadow table thead th span{
    display: inline-block;
    margin-right: 12px;
}
grid-base.sortable::shadow table th:hover{
    background: #DCEAEF;
}