<link rel="import" href="../bower_components/polymer/polymer.html">

<polymer-element name="layout-body">
    <template>
        <style>
            :host {
                flex: 1;
                text-align: left;
                background: #f7f8f9;
                position: relative;

                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
            }
        </style>

        <content></content>

    </template>
    <script>
        Polymer({});
    </script>
</polymer-element>