<polymer-element name="tab-pane">
    <template>
        <style>
            :host {
                position: absolute;
                top: 20px;
                bottom: 0;
                right: 0;
                left: 0;
                height: auto;
                padding: 5px;
                display: none;
                overflow-y: auto;
            }
            :host(.selected){
                display: block;
            }
            :host(.content-self-scrolls){
                overflow: hidden;
            }
        </style>

        <content></content>
    </template>
    <script>
        (function () {
            var dom = window.dom;

            Polymer({
                select: function (selected) {
                    if(selected){
                        this.classList.add('selected');
                        this.resize();
                    }else{
                        this.classList.remove('selected');
                    }
                },
                resize: function () {
                    var i, box = dom.box(this);
                    for(i = 0; i < this.children.length; i++){
                        if(this.children[i].resize){
                            this.children[i].resize(box);
                        }
                    }
                },
                setTop: function (height) {
                    // TODO: replace with flex-box
                    this.style.top = height + 'px';
                }
            });
        }());
    </script>
</polymer-element>