<polymer-element name="tab-pane">
    <template>
        <style>
            :host {
                position: absolute;
                background: #8c96c7;
                height: auto;
                padding: 5px;
                display: none;
            }
            :host(.selected){
                display: block;
            }
        </style>

        <content></content>
        
    </template>
    <script>
        Polymer({
            select: function (selected) {
                if(selected){
                    this.classList.add('selected');
                }else{
                    this.classList.remove('selected');
                }
            }
        });
    </script>
</polymer-element>