<polymer-element name="tab-container">
    <template>
        <style>
            :host {
                display: block;
                position: absolute;
                background: #fff;
                height: auto;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
            }
            :host menu{
                margin: 0;
                padding: 0;
                background: #666;
            }
        </style>

        <menu id="menu">
            <content id="btnNodes" select="tab-button"></content>
        </menu>
        <section>
            <content id="paneNodes" select="tab-pane"></content>
        </section>
    </template>
    <script>
        (function(){

            var
                on = window.on,
                dom = window.dom;

            function getInitialSelected(btnNodes, paneNodes){
                var i;
                for(i = 0; i < btnNodes.length; i++){
                    if(btnNodes[i].classList.contains('selected')){
                        return i;
                    }
                    if(paneNodes[i].classList.contains('selected')){
                        return i;
                    }
                }
                return 0;
            }

            function getSelectedIndex(node, nodes){
                for(var i = 0; i < nodes.length; i++){
                    if(nodes[i] === node){
                        return i;
                    }
                }
                return 0;
            }

            Polymer({
                attached: function () {
                    var
                        i,
                        paneNodes = Array.prototype.slice.call(this.$.paneNodes.getDistributedNodes()),
                        btnNodes = Array.prototype.slice.call(this.$.btnNodes.getDistributedNodes()),
                        selectedIndex = getInitialSelected(btnNodes, paneNodes);

                    this.btnHandles = [];
                    for(i = 0; i < btnNodes.length; i++){
                        this.btnHandles.push(on(btnNodes[i], 'selected', this.onSelelected.bind(this)));
                    }

                    this.paneNodes = paneNodes;
                    this.btnNodes = btnNodes;
                    this.selectedIndex = selectedIndex;
                },

                domReady: function () {
                    var i, menuHeight = dom.box(this.$.menu).height;
                    for(i = 0; i < this.paneNodes.length; i++){
                        this.paneNodes[i].setTop(menuHeight);
                    }
                    this.onSelelected(this.btnNodes[this.selectedIndex]);
                },

                onSelelected: function (event) {
                    var
                        node = event.target || event,
                        selectedIndex = getSelectedIndex(node, this.btnNodes);

                    this.paneNodes[this.selectedIndex].select(false);
                    this.btnNodes[this.selectedIndex].select(false);
                    this.selectedIndex = selectedIndex;
                    this.paneNodes[this.selectedIndex].select(true);
                    this.btnNodes[this.selectedIndex].select(true);
                }
            });
        }());
    </script>
</polymer-element>